.page-header {
  height: 50px;
  background: white;
  display: block;
  box-shadow: 0 1px 2px rgba(0,0,0,0.22);
}

.page-header > form {
  border: 1px solid black;
  float: left;
}

.content-header {
  background: white;
}

.content-header-top {
  text-align: center;
  padding: 30px;
  border-bottom: 1px solid rgb(231, 231, 231);
  width: 90vw;
  margin: auto;
}

.content-header-title {
  display: block;
  font-size: 36px;
  font-weight: 600;
  color: rgba(21,21,21,0.8);
}

.content-header-bottom {
  font-size: 13px;
  color: #333;
  width: 90vw;
  margin: auto;
  min-height: 60px;
}

.content-header p {
  min-height: 30px;
  padding: 15px;
}

.content-header-user {
  display: block;
  height: 100%;
}

.content-header-user > img {
  display: block;
  float: left;
  height: 50px;
  width: auto;
}

.content-header-bottom > p {
  padding: 5px;
  display: block;
  float: left;
  height: 100%;
}
