.new-board-link:after {
  content: '+';
  font-size: 20px;
  color: white;
}

.view-boards-link:after {
  content: '∑';
  color: white;
  font-size: 16px;
}

.view-boards-link {
  bottom: 30px;
  right: 30px;
  padding: 4px 8px;
}

.new-board-link {
  bottom: 70px;
  right: 30px;
  padding: 0 7px 3px 7px;
}

.new-board-link:hover .new-board-dropdown-container {
  display: block;
}

.view-boards-link:hover .all-boards-dropdown-container {
  display: block;
}

.new-board-dropdown-container, .all-boards-dropdown-container {
  display: none
}

.fixed-link {
  background: rgb(194, 0, 17);
  border-radius: 50%;
  position: fixed;
  z-index: 50;
}

.link-dropdown {
  position: absolute;
  top: 2px;
  right: 45px;
  width: 120px;
  display: block;
  background: rgb(200, 200, 200);
  color: black;
  padding: 5px;
  border-radius: 6px;
}

.tooltip {
  content: '';
  border-left: 12px solid rgb(200, 200, 200);
  border-top: 12px solid transparent;
  border-bottom: 12px solid transparent;
  position: absolute;
  right: 35px;
}

.tooltip-new-board {
  top: 4px;
}

.like-button {
  background-image: linear-gradient(#e2e2e2, #d1d1d1);
}

.like-button.small {
  display: none;
  height: 30px;
  width: 30px;
  border-radius: 4px;
  float: right;
  border: 1px solid rgba(0, 0, 0, 0.298039);
  position: absolute;
  top: 5px;
  right: 5px;
}

.like-button.unliked:before {
  content: image-url('heart-black.png');
  position: absolute;
  top: 15px;
  left: 7px;
  transform: translateY(-50%);
}


.like-button.liked:before {
  content: image-url('heart-red.png');
  position: absolute;
  top: 15px;
  left: 7px;
  transform: translateY(-50%);
}

.follow-button {
  padding: 7px 13px;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-weight: bold;
  font-size: 11px;
  display: block;
  margin: auto;
  margin-top: 20px;
}

.like-button:active, .follow-button.followed:active {
  background-image: linear-gradient(#d1d1d1, #e2e2e2);
}

.follow-button.followed {
  background-image: linear-gradient(#e2e2e2, #d1d1d1);
  color: #5f5f5f;
  text-shadow: 0 1px #fff;
}

.follow-button.unfollowed {
}

.login-container {
  background-image: image-url("login-signup.jpg");
  position: absolute;
  height: 400px;
  display: block;
  width: 700px;
  border: 1px solid black;
  padding: 30px;
  transform: translateX(-50%) translatey(-50%);
  top: 50%;
  left: 50%;
  border-radius: 6px;
}

.login-form {
  display: block;
  margin-top: 75px;
}

.login-form > input {
  height: 40px;
  border-radius: 6px;
  display: block;
  margin: auto;
  width: 260px;
  padding: 5px;
  box-sizing: border-box;
  background: white;
  font-size: 14px;
  color: #333;
  margin-bottom: 25px;
}

.page {
  height: 100vw;
  width: 100vw;
  background-image: image-url('sinterest-background.png');
}

.sign-up-link {
  background-image: linear-gradient(#e3262e, #ab171e);
  padding: 10px;
  border: 1px solid #820a0f;
  color: white;
  border-radius: 6px;
}

.login-form > button {
  height: 35px;
  display: block;
  margin: auto;
  width: 260px;
  padding: 5px;
}

.login-container > a {
  background-image: linear-gradient(#e3262e, #ab171e);
  border: 1px solid #820a0f;
  border-radius: 6px;
  color: white;
  box-sizing: border-box;
  text-align: center;
  padding: 8px 10px;
}
