.app-header {
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.22);
  z-index: 100;
  position: relative;
}

.content-header {
  background: white;
}

.root-link {
  padding: 0 0 20px;
  display: block;
  z-index: 100;
}

.root-link:before {
  content: image-url('logo-thumb.png');
}

.navbar {
  width: calc(100% - 100px);
  margin: auto;
  padding: 20px;
  border-radius: 6px;
  text-align: left;
  height: 50px;
  position: relative;
}

.navbar input {
  border: 3px solid rgb(231, 231, 231);
  display: block;
  padding: 10px 20px;
  margin: 15px auto;
  height: 40px;
  width: 90%;
  font-size: 20px;
  position: absolute;
  top: 15px;
  left: 50%;
  transform: translateX(-50%);
}

.top-header {
  background: white;
}

.logout-button {
  background: #d4d4d4;
  border: 1px solid #e4e4e4;
  display: block;
  width: 100%;
  border-radius: 6px;
  color: #666;
  padding: 5px;

}

.logout-button:active {
  background: rgba(227,224,226,0.95);
  color: grey;
}


.navbar ::-webkit-input-placeholder {
   text-align: center;
}

.header-title {
  display: block;
  width: 300px;
  margin: auto;
  border-bottom: 2px solid #e3262e;
  padding: 20px;
}

.content-header-main {
  text-align: center;
  padding: 0 30px;
  border-bottom: 1px solid rgb(231, 231, 231);
  margin: auto;
  max-width: 500px;
}

.content-header-title {
  display: inline;
  font-size: 36px;
  font-weight: 600;
  color: rgba(21,21,21,0.8);
  margin-bottom: 12px;
  padding-bottom: 8px;
}

.content-header-current-user {
  display: block;
  margin: 20px 50px 20px 20px;
  float: right;
}

.content-header-current-user > img {
  display: block;
  float: left;
}


.content-header-bottom {
  font-size: 13px;
  color: #333;
  width: 90vw;
  margin: auto;
  min-height: 60px;
}

.content-header p {
  min-height: 30px;
  padding: 15px;
}

.content-header-bottom > p {
  padding: 5px;
  display: block;
  float: left;
  height: 100%;
  vertical-align: middle;
}

.user-thumb {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.current-user-image {
  float: right;
}

.current-user-username {
  padding: 18px 20px 20px 10px;
  float: right;
}

.user-show-info {
  position: absolute;
  bottom: 25px;
}

.user-show-thumb {
  float: left;
  margin: 5px;
}

.user-show-username {
  margin: auto;
  display: block;
  text-align: center;
}

.current-user-dropdown {
  width: 100%;
  display: none;
}

.current-user-dropdown > li {
  // border: 1px solid black;
  background: #f0f0f0;
}

.content-header-current-user:hover .current-user-dropdown {
  display: block;
}
