.sin-index.show {
  overflow: hidden;
}

.sin-detail-wrapper {
  position: fixed;
  height: 100vh;
  top: 0px;
  right: calc(100vw/2);
  transform: translateX(50%);
  overflow: scroll;
  display: block;
  height: 100%;
  width: 100%;
  background-color: rgba(227,224,226,0.95);
  z-index: 1000;
}

.sin-detail-wrapper .sins {
  width: 660px;
}

.sin-show-section {
  position: relative;
  background: white;
  border-radius: 6px;
  overflow: hidden;
  margin-top: 10px;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.22);
}

.sin-show-image-container:hover > .like-button {
  display: block;
}

.sin-show-desc {
  font-size: 18px;
  font-weight: 500;
  padding: 10px 20px;
  position: relative;
  border-bottom: 1px solid rgb(231, 231, 231);
}

.sin-show-section > h1 {
  padding: 20px;
  border-bottom: 1px solid rgb(231, 231, 231);
  border-top: 1px solid rgb(231, 231, 231);
  font-size: 24px;
  font-weight: 700;
}

.sin-show-section > a {
  padding: 10px 20px;
  display: block;
  font-size: 12px;
  font-weight: 500;
  border-bottom: 1px solid rgb(231, 231, 231);
}

.sin-board:hover, .sin-show-section > a:hover {
  background: rgb(228, 228, 228);
}

.sin-wrapper {
  margin: auto;
  width: 700px;
}

.sin-show-image {
  display: block;
  max-width: 100%;
  height: auto;
  margin: auto;
}

.sin-show-image-container {
  background: rgb(248, 248, 248);
  padding: 20px;
}

.sin-show-sins-index {
  width: 763px;
  margin: auto;
}

.create-sin {
  background-image: linear-gradient(#e2e2e2, #d1d1d1);
  color: #5f5f5f;
  text-shadow: 0 1px #fff;
}

.create-sin:active {
  background-image: linear-gradient(#d1d1d1, #e2e2e2);
}
