// Place all the styles related to the Sins controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.sins {
  padding: 10px 50px;
  width: calc(100% - 50px);
  margin: auto;
  min-height: 950px;
  position: relative;
  background: #e9e9e9;
}

.sin {
  max-width: 200px;
  float: left;
  margin: 10px;
  background: white;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.22);
  border-radius: 6px;
  overflow: hidden;
  position: relative;
}

.sin > h3:hover .like-button {
  display: block;
}

.sin > h3 {
  font-size: 18px;
  font-weight: 700;
  border-bottom: 1px solid rgb(231, 231, 231);
  display: block;
  padding: 0;
}

.sin-title {
  display: block;
}

.sin p {
  border-bottom: 1px solid rgb(231, 231, 231);
  padding: 10px;
}

.sin-desc {
  font-size: 14px;
  font-weight: 500;
}

.sin-board {
  display: block;
  border-bottom: 1px solid rgb(231, 231, 231);
  padding: 10px;
  font-size: 12px;
  font-weight: 300;
}

.sin-board:hover {
  background: rgb(228, 228, 228);
}

.sin-detail-wrapper {
  position: fixed;
  height: 100vh;
  top: 0px;
  right: calc(100vw/2);
  transform: translateX(50%);
  overflow: scroll;
  display: block;
  height: 100%;
  width: 100%;
  background-color: rgba(227,224,226,0.95);
}

.sin-show-section {
  background: white;
  border-radius: 6px;
  overflow: hidden;
  margin-top: 10px;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.22);
}

.sin-show-desc {
  font-size: 18px;
  font-weight: 500;
  padding: 10px 20px;
}

.sin-show-section > h1 {
  padding: 20px;
  border-bottom: 1px solid rgb(231, 231, 231);
  font-size: 24px;
  font-weight: 700;
}

.sin-show-section > a {
  padding: 10px 20px;
  display: block;
  font-size: 12px;
  font-weight: 500;
  border-bottom: 1px solid rgb(231, 231, 231);
  border-top: 1px solid rgb(231, 231, 231);
}

.sin-wrapper {
  margin: auto;
  width: 700px;
}

.sin-show-image {
  display: block;
  max-width: 100%;
  height: auto;
  margin: auto;
}

.sin-show-image-container {
  background: rgb(248, 248, 248);
  padding: 20px;
}

.sin-show-sins-index {
  width: 763px;
  margin: auto;
}
