html, img, body, div, h1, h2, h3, h5, p, a, ul, li, input, form, textarea, button, label {
  margin: 0;
  border: 0;
  padding: 0;
  font: inherit;
  text-decoration: inherit;
  text-align: inherit;
  color: #555;
  background: transparent;
  font-family: "Helvetica Neue","Helvetica";
  box-sizing: inherit;
}

ul {
  list-style: none;
}

a {
  cursor: pointer;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.group:after {
  content: "";
  display: block;
  clear: both;
}

html {
  background: #e9e9e9;
}

button:hover {
 cursor: pointer;
}

button {
  background-image: linear-gradient(#e3262e, #ab171e);
  border: 1px solid #820a0f;
  border-radius: 6px;
  color: white;
  box-sizing: border-box;
  text-align: center;
}

button:focus, input:focus, textarea:focus {
  outline:0;
}

button:active {
  background-image: linear-gradient(#ab171e, #e3262e);
}
