.sins, .boards {
  padding: 10px 0;
  box-sizing: border-box;
  margin: auto;
  width: 1100px;
  min-height: 950px;
  position: relative;
  margin-bottom: 20px;
}

.tile {
  box-sizing: border-box;
  float: left;
  margin: 10px;
  background: white;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.22);
  border-radius: 6px;
  overflow: hidden;
  position: relative;
}

.sin {
  width: 200px;
}

.sin > h3:hover .like-button {
  display: block;
}

.sin > h3 {
  font-size: 18px;
  font-weight: 700;
  display: block;
  padding: 0;
}

.tile-title {
  display: block;
}

.tile p {
  border-bottom: 1px solid rgb(231, 231, 231);
  padding: 10px;
}

.tile-desc {
  font-size: 14px;
  font-weight: 500;
}

.tile-bottom {
  display: block;
  border-bottom: 1px solid rgb(231, 231, 231);
  padding: 10px;
  font-size: 12px;
  font-weight: 300;
}

.tile-bottom:hover {
  background: rgb(228, 228, 228);
}

.board-li {
  width: 200px;
}

.board-li:hover .follow-button {
  display: block;
}

.board-li button {
  position: absolute;
  right: 5px;
  top: -14px;
  display: none;
}

.board-li {
  height: 239px;
}

.sin-image {
  width: 98px;
  height: auto;
  border: 1px solid black;
  float: left;
  border-radius: 6px;
}
